@model List<InfoGlobal.Root>

    @* @{
        ViewBag.Title = "Buscar Usuario";
    } *@

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


    <div class="container-tetris">

        <header class=" header-tetris">
            <h1 class="title-first">Welcome To World of Tetris</h1>
            <div class="conten-search">
                <h2>Buscas un usuario?</h2>

                <form asp-controller="Home" asp-action="Search" method="get">
                    <input type="text" name="username" placeholder="Search" class="search-inputs" required/>
                    <button type="submit" class="btn-search" value="Buscar"><i class="fa-solid fa-magnifying-glass"></i></button>                
                </form>
                @if (ViewBag.ErrorMessage != null)
                {
                    <p style="color:red;">@ViewBag.ErrorMessage</p>
                }
            </div>
        </header>

        <div class="flex-style">
            <img class="image-earth" src="~/images/earth.gif" alt="Logo">

            <div class="date-models"> 

                @if (Model != null && Model.Count > 0 && Model[0].data != null)
                {
                    <div class="all-users">
                        <h2 class="title-rigth">All users in Tetris</h2>
                        <p class="title-rigth">@Model[0].data.totalaccounts</p>
                    </div>
                    <div class="pieces-placed">
                        <h2 class="title-rigth">Pieces Placed in the World</h2>
                        <p class="title-rigth">@Model[0].data.piecesplaced</p>
                    </div>
                }
                else
                {
                    <p>No se encontraron datos.</p>
                }
            </div>

        </div>
    </div>

