@model List<InfoGlobal.Root>

    <link rel="stylesheet" href="~/css/site.css" />


    <div class="container-tetris">
        <h1 class="title-first">Welcome To World of Tetris</h1>
        <div class="flex-style">
            <img class="image-earth" src="~/images/earth.gif" alt="Logo">

            <div class="date-models">
                <div class="all-users">
                    <h2 class="title-rigth">All users in Tetris</h2>
                    <p class="title-rigth">@Model[0].data.totalaccounts</p>
                </div>
                <div class="users-created-now">
                    <h2 class="title-rigth">Users Created for one minutes</h2>
                    <p class="title-rigth">@Model[0].data.usercount_delta</p>
                </div>
                <div class="pieces-placed">
                    <h2 class="title-rigth">Pieces Placed in the World</h2>
                    <p class="title-rigth">@Model[0].data.piecesplaced</p>
                </div>
            </div>

        </div>
    </div>

