@model List<TopSprint.Root>

<head>
    <title>Ranking</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="container-ranking">
        <h1 class="title-ranking">Top Sprint Ranking</h1>
        <table class="background-table">
            <tr>
                <th></th>
                <th>username</th>
                <th>time</th>
                <th>replay</th>
            </tr>
            @foreach (var rankObject in Model)
            {
                <tr>
                    <td>@($"{rankObject.pos}")</td>
                    <td>@($"{rankObject.name}")</td>
                    <td>@($"{rankObject.game}s")</td>
                    <td><a class="btn-ranking" href="@($"https://jstris.jezevec10.com/replay/{rankObject.id}")" target="_blank"><i class="fa-solid fa-play"></i></a></td>
                </tr>
            }
        </table>
    </div>
</body>
