html {
  font-size: 14px;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(58deg, rgb(0 8 12) 56%, rgb(0 173 255) 100%);
  color: #fff;
}

.navbar-style-blue{
  background: #007cb7;
  color: #fff;
  padding: 1em;
}

.header-tetris{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conten-search {
  display: flex;
  flex-direction: row;
  gap: 22px;
  justify-content: center;
  align-items: center;
}

.search-inputs{
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 3px solid #000;
}


.title-first {
  font-size: 3em;
  text-align: left;
  padding-block: 36px;
}

.flex-style {
  display: flex;
  justify-content: space-between;
}

.image-earth {
  border-radius :60px;
}

.title-rigth {
  font-size: 2.7em;
  text-align: end;
  text-shadow: 7px 1px 10px black;
}



/*  -------------- RANKINGS --------------- */

.title-ranking {
  margin-top: 18px;
  margin-bottom: 28px;
}

.container-ranking{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-table{
  border: 1px solid #106da0;
  box-shadow: 2px 0px 16px 5px #106da0;
}

.background-table th{
  border: #fff 1px solid;
  box-shadow: 0px 2px 12px white;
  text-align: center;
  padding: .6em;
  font-size: 1.1em;
}

.background-table tr td:not(:first-child):not(:last-child) {
  border: #fff 1px solid;
  box-shadow: 0px 2px 12px white;
  padding: .5em 6em;
}

.background-table tr td:first-child {
  border: #fff 1px solid;
  box-shadow: 0px 2px 12px white;
  padding: 0.5em 1em;
  text-align: center;
}

.background-table tr:nth-child(odd) {
  background-color: #161515a0;
}

.btn-ranking {
  padding: 8px 34px;
  color: #fff;
  background: #2499ff;
  text-decoration: none;
  text-shadow: 0 0 10px black;
  box-shadow: 0 0 12px 5px #2f9eff;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* -------------- SEARCH --------------- */

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 69vh;
  padding: 10px;
  box-sizing: border-box;
}

.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.background-div {
  background-color: #000000c5;
  border: 1px solid #106da0;
  box-shadow: 2px 0px 16px 5px #106da0;
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.user-info {
  background-color: #161515a0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
  text-align: center;
}

.user-flag {
  width: 52px;
  height: 38px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.unknown-info h1{
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
}

.user-info h1 {
  margin: 0 auto;
  font-size: 2.5em;
}

.avatar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img-search {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.table-stats {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  text-align: center;
}

.table-stats td {
  padding: 10px;
  border-top: 1px solid #106da0;
}

.table-stats tr:first-child td {
  border-top: none;
}
